body, html {
    background-color: rgb(186, 73, 73);
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    text-align: center;
}

.header {
    border-bottom: 1px solid rgba(151, 58, 58, 0.521);
    height: 60px;
    color: white;
    width: 120vh;
    margin: 0 auto;
}

.logo {
    position: relative;
    float: left;
    display: flex;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.logo:hover {
    cursor: pointer;
}

#logo-img {
    position: relative;
    font-size: 25px;
    font-variation-settings:
          'FILL' 1;
    bottom: 3px;
}

#name {
    position: relative;
    left: 13px;
    font-size: 18px;
    font-weight: 700;
}

.header-options {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.header-options .buttons {
    color: rgb(240, 240, 240);
    margin-right: 20px;
    padding: 8px 10px;
    background-color: rgba(219, 119, 119, 0.726);
    border-radius: 5px 10px;
    font-size: 14px;
}

.header-options .buttons:hover {
    cursor: pointer;
    color: white;
}

.header-options .material-symbols-outlined {
    position: relative;
    font-size: 18px;
    top: 3px;
    font-variation-settings: 'FILL' 1;
}

.content {
    position: relative;
    height: fit-content;
    top: 30px;
    background-color: rgba(219, 119, 119, 0.726);
    padding: 0 90px;
    margin: 0 400px;
}