body,html {
    background-color: rgb(186, 73, 73);
    margin: 0;
    padding: 0;
    font-family: "Nunito";
    transition: 0.3s;
    z-index: 1;
}

.container {
    z-index: 1;
}

.header {
    border-bottom: 1px solid rgba(151, 58, 58, 0.521);
    height: 60px;
    color: white;
    width: 70%;
    margin: 0 auto;
    z-index: 1;
}

.logo {
    position: relative;
    float: left;
    display: flex;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.logo:hover {
    cursor: pointer;
}

#logo-img {
    position: relative;
    font-size: 25px;
    font-variation-settings:
          'FILL' 1;
    bottom: 3px;
}

#name {
    position: relative;
    left: 13px;
    font-size: 18px;
    font-weight: 700;
}

.header-options {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}

.header-options .buttons {
    color: rgb(240, 240, 240);
    margin-right: 20px;
    padding: 8px 10px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 5px;
    font-size: 14px;
}

.header-options .buttons:hover {
    cursor: pointer;
    color: white;
}

.header-options .material-symbols-outlined {
    position: relative;
    font-size: 18px;
    top: 3px;
    font-variation-settings: 'FILL' 1;
}

.content {
    position: relative;
    width: 40vh;
    top: 30px;
    background-color: rgba(255,255,255,0.1);
    padding: 30px 90px 50px;
    margin: auto;
    top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.timer-times {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.timer-times button {
    position: relative;
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-size: large;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
}

.timer-times button:active {
    transform: translateY(5%);
}

#timer {
    position: relative;
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    font-weight: 800;
}

#start {
    position: relative;
    padding: 15px 50px;
    background-color: white;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    color: rgba(136, 120, 47, 0.836);
    font-size: 25px;
    font-weight: 700;
    font-family: "Nunito",sans-serif;
    text-transform: uppercase;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
    cursor: pointer;
}

#start:active {
    box-shadow: none;
    transform: translateY(5px);
}

.pomodoro-stats {
    position: relative;
    width: 250px;
    margin: auto;
    top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#pomodoro-count {
    color: rgba(255, 255, 255, 0.678);
    cursor: pointer;
    transition: 0.3s;
}

#pomodoro-count:hover {
    color: white;
    transition: 0.3s;
}

#wht-todo-label {
    position: relative;
    top: 10px;
    color: white;
    font-size: 18px;
}

.buttons a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.buttons a:hover {
    color: white;
}

#settings {
    z-index: 10;
    position: absolute;
}

@media screen and (max-width: 700px) {
    .header {
        width: 500px;
    }
    .content {
        width: 25vh;
        transition: 0.3s;
    }
}